
$palette: (
  text: (
    light: #FFF,
    dark: #222,
  ),
  highlight: (
    bright: #0FF,
    faded: #0FF8,
  ),
  background-color: #282c34,
  primary: (
    light: #323741,
    neutral: #282c34,
    dark: #202329,
  ),
  accent: #FFD414,
  accent-dark: #FFB013,
  actions: (
    positive: #44FF88,
    negative: #FF8844,
  ),
);

/**
 * Given a list of progressively narrow map-selectors, retrieve a color
 * or gradient from the palette, or null if selectors couldn't resolve
 * to one.
 */
 @function get($selectors...) {
  $container: $palette;

  @each $term in $selectors {
    @if map-has-key($container, $term) {
      $container: map-get($container, $term);
    }
    @else {
      @warn "unknown color `#{$term}` in `#{$container}` in palette";
      @return null;
    }
  }

  @return $container;
}