@use '../../styles/colors';

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.3rem;
  margin-bottom: .5rem;
}

.infoContainer {

}

.info {
  $size: .3rem;
  $radius: $size / 2;
  $dist: $size * 4;

  display: inline-block;
  margin-right: $dist;

  & + .info::before {
    content: '';
    display: inline-block;
    width: $size;
    height: $size;
    
    vertical-align: middle;
    position: relative;
    left: (-$dist / 2) + $radius;

    border-radius: 50%;
    background-color: colors.get(text, light);
  }
}

.rightPanel {
  display: flex;
  align-items: center;
  height: fit-content;
}

.voteButton {
  margin: 0rem .8rem;
}

.imdb {
  margin-right: -.5rem;
}