@use '../styles/colors';

.movieInfoWrapper {
  min-height: 100vh;
  padding: 1rem 2rem;

  background: colors.get(background-color);
  color: colors.get(text, light);
  
  display: flex;
  justify-content: center;
}

.movieInfoWrapperB {
  max-width: 150ch;
}

.heading {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: baseline;
}

.titleInfo {
  position: relative;
  margin-left: 1rem;
}

.title {
  display: block;

  font-size: 2rem;
  line-height: 2.3rem;
  margin: 0 1rem 1rem 0;
}

.cursoryInfo {
  font-size: 1rem;
  line-height: 0.8rem;
  margin-bottom: 1rem;
}

.titleDetails {
  display: flex;
  align-items: start;
  font-size: 1.25rem;
}

.details {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
}

.detailsA {
  padding-right: .5rem;
  padding-bottom: 1rem;
  border-bottom: .125rem solid white;
  border-right: .125rem solid white;
  $amt: .3rem;
  box-shadow: $amt $amt $amt 0 #0003;
}

.genreWrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;

  // TODO How do I get this to expand widths only when wrapping?
  // And not the last wrapped line?
  // And add spacing between items that only affect wrapping, not the content below?
}

.languageWrapper {
  display: flex;
  flex-wrap: wrap;
}

.language {
  // font-size: 1rem;
  width: fit-content;
  // padding: .2rem .4rem;
  margin-right: .7rem;
  // border: .08rem solid colors.get(text, light);
}