@use '../styles/colors';

.movieInfoWrapper {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 1rem 2rem;

  width: 95%;
  margin: auto;
}

.contentWrapper {
  opacity: 0;
  transition: opacity .3s ease;
}

.loadingIcon {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.showPage {
  opacity: 1;
}

.titleDetails {
  display: flex;
  align-items: flex-start;
  font-size: 1.25rem;
}

.details {
  flex-grow: 1;
  min-height: 8rem; // Remove?
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  transform-style: preserve-3d;
}

.detailsAccent {
  content: '';

  position: absolute;
  width: 100%;
  height: 60%;
  top: 40%;

  transform: translateZ(-1px);

  border-bottom: .125rem solid colors.get(text, light);
  border-right: .125rem solid colors.get(text, light);
  box-shadow: .3rem .3rem .3rem 0 #0003;
}

.genreWrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;

  // TODO How do I get this to expand widths only when wrapping?
  // And not the last wrapped line?
  // And add spacing between items that only affect wrapping, not the content below?
}

.languageWrapper {
  display: flex;
  flex-wrap: wrap;
}

.language {
  width: fit-content;
  margin-right: .7rem;
}