@use '../styles/colors';

.movieInfoWrapper {
  height: 100vh;
  padding: 2rem;

  background: colors.get(background-color);
  color: colors.get(text, light)
}

.header {
  display: flex;
  height: 8rem;
}

.titleInfo {

}

.title {
  // position: relative;
  display: block;

  font-size: 2rem;
  line-height: 1rem;
}

.cursoryInfo {
  font-size: 1rem;
  line-height: 0.8rem;
}

.imDbRatingWrapper {
  width: 8rem;
  text-align: center;
  font-size: 1.25rem;
}

.titleDetails {
  display: flex;
  font-size: 1.25rem;
}

.coverImage {
  width: 20rem;
  transform: translate(0,0);
  left: 0;
  top: 0;

  padding-right: 1rem;

  position: relative;
  display: inline-block;
}

.details {
  position: relative;
  display: inline-block;
}

.genreWrapper {
  display: flex;
}

.genre {
  margin: 0 .5rem;
  padding: .5rem 1rem;
  border: .1rem solid white;
  border-radius: 2rem;

  transition: all .25s ease;

  &:hover {
    color: #FA6;
    border-color: #FA6;
  }
}