@use '../styles/colors';

.embroidery {
    margin-right: .5rem;
    padding: .5rem 1rem;
    border: .125rem solid colors.get(text, light);
    border-radius: 2rem;
    
    text-align: center;
    user-select: none;

    transition: color .25s ease, border-color .25s ease;
    &:hover {
        $color: colors.get(accent-dark);
        color: $color;
        border-color: $color;
    }
}