
.text {
  margin: 1rem;
  font-size: 3rem;
  width: fit-content;
  user-select: none;
}

// TODO Adjust Title and SearchBar with FlexBox.
// TODO Which is to say, write a component NavigationBar.

.textSmall {
  display: inline-block;
  margin-top: 1rem;
  font-size: 2rem;
  vertical-align: sub;  // Why sub?
  user-select: none;
}