
.text {
  margin: 1rem;
  font-size: 3rem;
  user-select: none;
}

// TODO Adjust Title and SearchBar with FlexBox.
// TODO Which is to say, write a component NavigationBar.

.textSmall {
  display: inline-block;
  padding: 1rem;
  font-size: 1.8rem;

  transform: translate(0,0);
  left: 0;
  top: 0;

  user-select: none;
}