@use '../styles/colors';
@use 'sass:color' as sass-color;
@use '../styles/functions' as *;

$transitionTime: .3s;
$borderRadius: .2rem;

@mixin hover {
  $inner: .125rem;
  $outer: .225rem;
  $bg-color: colors.get(background-color);
  $hover-color: colors.get(highlight, faded);
  $focus-color: colors.get(highlight, bright);

  transition: box-shadow $transitionTime ease;

  box-shadow: 0 0 0 $inner #0000, 0 0 0 $outer #0000;
  &:hover {
    box-shadow: 0 0 0 $inner $bg-color, 0 0 0 $outer $hover-color;

    .icon {
      fill: sass-color.scale($hover-color, $saturation: -5%, $lightness: -25%);
    }
  }
  &:focus-within {
    box-shadow: 0 0 0 $inner $bg-color, 0 0 0 $outer $focus-color;

    .icon {
      fill: sass-color.scale($focus-color, $saturation: -5%, $lightness: -10%);
    }
  }
}

.form {
  display: inline-block;
  width: fit-content;
}

.spacer {
  display: inline-block;
  width: .5rem;
}

.focusBorder {
  display: inline-block;
  border-radius: $borderRadius;
  // margin: .2rem; 
  @include hover;
}

.inputContainer {
  background-color: colors.get(text, light);
  padding: 0 .5rem;

  border-radius: .25rem;
}

.input {
  width: 40ch;
  height: 2rem;
  font-size: 1.125rem;

  border: none;
  outline: none;
  
  &::placeholder {
    user-select: none;
  }
}

.button {
  $color: #D0D0D8;
  $glow-color: colors.get(highlight, bright);

  width: 9ch;
  height: 2.1rem;
  font-size: 1.125rem;

  border-radius: $borderRadius;

  border: none;
  outline: none;

  transition: background-color $transitionTime ease, color $transitionTime ease;
  background-color: $color;

  &:hover, &:focus {
    background-color: sass-color.scale($color, $lightness: 30%);
    color: sass-color.scale($glow-color, $saturation: 5%, $lightness: -15%);
  }

  cursor: pointer;
}

.icon {
  width: 2rem;

  position: relative;
  top: .35rem;

  transition: fill $transitionTime ease;
  fill: gray;
}

.iconHidden {
  fill: none !important;
  cursor: default !important;
}

.iSearch {
  margin-right: .15rem;
}

.iClose {
  margin-left: .15rem;
  cursor: pointer;
}