@use 'sass:color' as sass-color;
@use '../styles/colors';

$color: #EC8;
$size: 2.8rem;
$zoom: 1.12;
$zoom-active: 1.04;
$anim-time: .1s;

.container {
  width: $size;
  height: fit-content;
  margin: 1rem;
}

@mixin button {
  width: $size;
  stroke-width: $size;
  stroke: $color;
  filter: drop-shadow(0rem .3rem .1rem #0006);

  transition: transform $anim-time ease, fill $anim-time ease;
  user-select: none;

  &:hover {
    transform: scale($zoom);
  }

  &:active {
    transform: scale($zoom-active);
  }
}

.inactive {
  @include button;

  fill: #0000;
  &:hover {
    fill: sass-color.scale(#FFF, $alpha: -90%);
  }
}

.active {
  @include button;

  fill: $color;
}


// TODO I need to sort out this broken heading component.
// That said, this star should actually appear over the poster.
