@use '../styles/colors';

.btnUpvote {
  position: relative;
  left: -1rem;
  top: 2rem;

  width: 3rem;
  fill: white;
}


// TODO I need to sort out this broken heading component.
// That said, this star should actually appear over the poster.
