@use 'sass:color' as sass-color;
@use '../styles/colors';

$color-positive: colors.get(actions, positive);
$color-negative: colors.get(actions, negative);
$size: 2rem;
$anim-time: .1s;

.default {
  width: $size * 2;
}

.voteCount {
  width: 100%;
  font-size: 1.15rem;
  text-align: center;
  user-select: none;
}

@mixin button($color) {
  $zoom: scale(1.12);
  $zoom-active: scale(1.06);

  width: $size;
  fill: $color;
  filter: drop-shadow(0rem .3rem .1rem #0006);

  transition: transform $anim-time ease, fill $anim-time ease;
  user-select: none;

  &:hover {
    transform: $zoom;
  }

  &:active {
    transform: $zoom-active;
  }
}

.upvote {
  @include button($color-positive);
}

.downvote {
  @include button($color-negative);
}

.active {
  opacity: 1;
}

.inactive {
  opacity: .4;
  &:hover {
    opacity: .6;
  }
}